<?php
/**
  * @var \App\View\AppView $this
  */
 
	foreach ($loaitin as $tt) {
		$tin = $tt->tintuc;
        // pr($tin);
        foreach($tin as $t){
            echo $t['TieuDe'];
            echo "<hr>";
        }
       
	}

?>
<!--<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Loaitin'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="loaitin index large-9 medium-8 columns content">
    <h3><?= __('Loaitin') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('idTheLoai') ?></th>
                <th scope="col"><?= $this->Paginator->sort('Ten') ?></th>
                <th scope="col"><?= $this->Paginator->sort('TenKhongDau') ?></th>
                <th scope="col"><?= $this->Paginator->sort('created_at') ?></th>
                <th scope="col"><?= $this->Paginator->sort('updated_at') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($loaitin as $loaitin): ?>
            <tr>
                <td><?= $this->Number->format($loaitin->id) ?></td>
                <td><?= $this->Number->format($loaitin->idTheLoai) ?></td>
                <td><?= h($loaitin->Ten) ?></td>
                <td><?= h($loaitin->TenKhongDau) ?></td>
                <td><?= h($loaitin->created_at) ?></td>
                <td><?= h($loaitin->updated_at) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $loaitin->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $loaitin->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $loaitin->id], ['confirm' => __('Are you sure you want to delete # {0}?', $loaitin->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>-->
 





















